# ▶️ Environnement virtuel Python
.venv/
env/
ENV/
*.env

# ▶️ Fichiers Python compilés / temporaires
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.pyo

# ▶️ Fichiers de log, cache, données temporaires
*.log
*.cache/
.cache/
*.tmp

# ▶️ Dossiers d’IDE
.vscode/
.idea/

# ▶️ Fichiers système
.DS_Store
Thumbs.db

# ▶️ Fichiers Jupyter Notebook (optionnel si tu n’en veux pas dans Git)
*.ipynb
.ipynb_checkpoints/

# ▶️ Fichiers spécifiques Streamlit
.streamlit/config.toml

# ▶️ Fichiers lourds gérés par Git LFS (éviter le suivi direct)
*.h5
*.pkl
*.joblib
*.npy
*.bin
*.csv
*.zip
*.xlsx
